ul.nav li{
    display: inline-block;
    padding-right: 10px;
}


#about_blue{
  background: #6495ED;
  border:  3px solid black;
}

#about_blue li{
  color: blue;
}

#about_yellow{
  background: #FFEBCD;
  border: 3px solid black;
}

#about_yellow li{
  color: orange;
}

.important{
  size: 16px;
  font-weight: bold;
}

.nav a{
  background: red;
  color: #fff;
}

.nav a:hover{
  background: black;
  color: yellow;
}
